#wrapper{
    padding-top: 30px;
}
.clear{
    clear: both;
}
/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label{
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}
.image-container-label{
    margin-left: 11px;
    margin-bottom: 11px;
    color: black;
}
.image-container{
    border: solid 1px #9E9E9E;
    min-height: 150px;
    margin-left: 11px;
    margin-right: 11px;
    position: relative;
}
.image-container .btn-floating {
    height: 37px;
}
.image-container .file-field{
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.image-item{
    margin: 5px;
    height: 140px;
    width: 140px;
    background-position: center;
    background-size: cover;
}
.collection .collection-item.avatar .title{
    font-size: 18px;
    font-weight: bold;
}
.card-subtitle {
	font-size: 13px;
}
.details{
    font-size: 17px;
    font-weight: bold;
}
.bar{
    width: 1px;
    background-color: #1100F3;
    height: 35px;
    margin-top: 13px;
}
.user-image{
    margin-top: 7.500px;
    border: 1px solid #e0e0e0;
}
.link{
    color: black;
}
.btn{
    margin-top: 7px;
}
#questions, #form-question{
    display: none;
}
.collapsible-body button{
	margin-bottom: 10px;
    margin-right: 10px;
}
.row .col.box-contact {
	padding: 0px;
}
.box-contact{
    padding: 0px 0px;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    height: 400px;
    overflow-y: scroll;
}
.box-contact .collection{
    border-left: 0px;
    margin: 0px;
}
.box-message{
    border: 1px solid #e0e0e0;
    height: 400px;
    overflow-y: scroll;
}

.box-contact .collection .collection-item{
    border-left: 0px;
    cursor: pointer;
    background-color: white;
}
.box-contact .collection .collection-item.active{
    background-color: lightgray;
    color: black;
}
.box-message .name{
    font-size: 15px;
    color: black;
    font-weight: 500;
}
.box-message .date{
    font-size: 9px;
    color: gray;
}
.box-message .message{
    font-size: 15px;
    color: black;
    font-weight: 300
}
