{% extends "template.html" %}
{% block wrapper %}
<div>
	<form name="search" class="row">
		<div id="selects" class="col s3">
            <div class="input-field col s12">
                <select class="" name="country">
                    <option value="" disabled>Pais</option>
                    <option value="1" selected>Chile</option>
                </select> 
                <label>Pais</label>
            </div>
            <div class="input-field col s12">
                <select class="" name="state">
                    <option value="" disabled selected>Ciudad</option>
                </select>
                <label>Región</label>
            </div>
		</div >
		<div id="checkboxes" class="col s5">
			as
        </div>
		<div id="breeds" class="col s4">
            <div class="input-field col s12">
                <label for="breed">Palabra clave</label>
                <input type="text" name="breed"/>
            </div>
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="search">Buscar
                    <i class="material-icons right">send</i>
                </button>
            </div>
		</div>
		
	</form>
    <div id="see-pets">
        <div class="row" style="col s12">
        {% for pet in pets %}        
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% if pet['pet_image'] %} {{ url_for('static', filename='images/'+pet['pet_image']) }} {% endif %}">
                        <span class="card-title">{{ pet['pet_name'] }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ pet['pet_description'] }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{url_for('pets.get_pet', pet_id=pet['pet_id'])}}">Ver más</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}