<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Adopta.lo</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ url_for('static', filename='bower_components/Materialize/dist/css/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <nav class="blue" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="{{ url_for('pets.get_pets') }}" class="brand-logo">Adopta.lo</a>
                <ul class="right hide-on-med-and-down">
                    {% if user %}
                    <li>
                        <a href="{{ url_for('pets.get_pets') }}"><i class="material-icons">home</i></a>
                    </li>
                    <li class="bar"></li>
                    <li>
                        <a class='dropdown-button' data-beloworigin="true" data-activates='notifications'><i class="material-icons">notifications</i></a>
                        <li>
                            <ul id='notifications' class='dropdown-content'>
                                <li>Hola</li>
                            </ul>
                        </li>
                    </li>
                    <li class="bar"></li>
                    <li>
                        <a class='dropdown-button' data-beloworigin="true" data-activates='messages'><i class="material-icons">forum</i></a>
                        <li>
                            <ul id='messages' class='dropdown-content'>
                                <li><a href="{{ url_for('users.get_destinations') }}">Ver todos</a></li>
                            </ul>
                        </li>
                    </li>
                    <li class="bar"></li>
                    <li>
                        <a class='dropdown-button' data-beloworigin="true" data-activates='dropdown1'><i class="material-icons left">account_circle</i> {{ user[0]['use_name'] }}</a>
                        <li>
                            <ul id='dropdown1' class='dropdown-content'>
                                <li><a href="{{ url_for('users.user_profile') }}">Mi perfil</a></li>
                                <li><a href="{{ url_for('users.user_pets') }}">Mis mascotas</a></li>
                                <li><a href="{{ url_for('users.user_adoptions') }}">Mis adopciones</a></li>
                                <li><a href="{{ url_for('users.user_logout') }}">Salir</a></li>
                            </ul>
                        </li>
                    </li>
                    <li class="bar"></li>
                    {% if user[0]['use_user_type'] < 3 %}
                    <li>
                        <a class='dropdown-button' data-beloworigin="true" data-activates='dropdown2'><i class="material-icons left">settings</i> Administración</a>
                    <li>
                        <ul id='dropdown2' class='dropdown-content'>
                            <li><a href="{{ url_for('users.user_admin') }}">Usuarios</a></li>
                        </ul>
                    </li>
                    </li>
                {% endif %}
                {% else %}
                    <li><a href="{{ url_for('users.user_login') }}"><i class="material-icons left">input</i> Ingresar</a></li>
                {% endif %}
                </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>


        <div class="container-fluid" id="wrapper">
            {% block wrapper %}{% endblock %}
        </div>

        <footer class="page-footer blue darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Company Bio</h5>
                        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Settings</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                </div>
            </div>
        </footer>


        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{{ url_for('static', filename='bower_components/Materialize/dist/js/materialize.js') }}"></script>
        <script src="{{ url_for('static', filename='js/init.js') }}"></script>
        <script src="{{ url_for('static', filename='js/url.js') }}"></script>
        {% if script %}
        {% for item in script %}
        <script src="{{ url_for('static', filename=item) }}"></script>
        {% endfor %}
        {% endif %}

    </body>
</html>
