{% extends "template.html" %}
{% block wrapper %}
<div class="container">
    <form >
    	<div>
    		<div class="row">
    			<div class="input-field col s6">
		          <input name="name" type="text" class="validate" value="{{ user[0]['use_name']}}">
		          <label for="name"><span class="red-text lg">* </span>Nombre</label>
		        </div>
		        <div class="input-field col s6">
		          <input name="email" type="text" class="validate" value="{{ user[0]['use_email']}}">
		          <label for="email"><span class="red-text lg">* </span>Correo</label>
		        </div>
    		</div>
	    	<div class="row">
			    <div class="input-field col s6">
	                <select name="u_country">
	                    <option value="" disabled>Pais</option>
	                    <option value="1" selected>Chile</option>
	                </select> 
	                <label><span class="red-text lg">* </span>País</label>
	            </div>
	            <div class="input-field col s6">
	                <select name="u_state">
	                </select>
	                <label><span class="red-text lg">* </span>Región</label>
	            </div>
	    	</div>
	    	<div class="row">
		        <div class="input-field col s6">
		          <input name="phone" type="text" class="validate" value="{{ user[0]['use_phone_number']}}">
		          <label for="phone"><span class="red-text lg">* </span>Teléfono</label>
		        </div>
		        <div class="input-field col s6">
		          <input name="last_passwd" type="text" class="validate" >
		          <label for="last-passwd">Contraseña actual</label>
		        </div>
	    	</div>
	    	<div class="row">
				<div class="input-field col s6">
		          <input name="new_passwd" type="text" class="validate" >
		          <label for="new-passwd">Nueva contraseña</label>
		        </div>
		        <div class="input-field col s6">
		          <input name="re_new_passwd" type="text" class="validate" >
		          <label for="re-new-passwd">Reingrese contraseña</label>
		        </div>
	    	</div>
	    	<div class="row">
			 	<button class="btn waves-effect waves-light green darken-2 right" type="submit" id="btn_edit_user">Aceptar
			        <i class="material-icons right">send</i>
			    </button>
	    	</div>
    	</div>
    </form>
</div>

{% endblock %}