{% extends "template.html" %}
{% block wrapper %}
<div class="container">
    <div class="row">
        <h5 class="left">Mis adopciones</h5>
        <a class="waves-effect waves-light btn right" href="{{ url_for('pets.new_pet') }}"><i class="material-icons left">pets</i> Agregar mascota</a>
    </div>
    {% if pets %}
    <ul class="collection">
        
        {% for pet in pets %}

        <li class="collection-item avatar">
            <img src="{% if pet['pet_image'] %} {{ url_for('static', filename='images/'+pet['pet_image']) }} {% endif %}" alt="" class="circle">
            <span class="title"><a href="{% if pet['pet_state'] == 6 or pet['pet_state'] == 5 %} {{url_for('pets.adopt_pet', pet_id=pet['ado_pet_id']) }} {% endif %}" class="link">{{ pet['pet_name'] }} </a> - </span>
            <span class="state">{{ pet['pst_detail'] }}</span>
            <p>{{ pet['pty_detail'] }} - Raza {{ pet['pet_race'] }}<br>
                {{ pet['pet_description'] }}
            </p>
        </li>

        {% endfor %}        
    </ul>
    {% else %}
    <h6>Aun no has adoptado una mascota.</h6>
    {% endif %}
</div>

{% endblock %}