{% extends "template.html" %}
{% block wrapper %}
<div class="container">
    <div class="row">
        <h5><i class="material-icons prefix">pets</i> Agregar una mascota</h5>
    </div>
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input name="name" type="text" class="validate">
                <label for="name">Nombre de la mascota</label>
            </div>
            <div class="input-field col s6">
                <input name="age" type="text" class="validate">
                <label for="age">Edad de la mascota</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select name="type">
                    <option value="" disabled selected>Especie</option>
                </select>
                <label for="type">Especie</label>
            </div>
            <div class="input-field col s6">
                <input name="race" type="text" class="validate">
                <label for="race">Raza</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="description" class="materialize-textarea"></textarea>
                <label for="description">Descripción</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light green darken-2 right" type="submit" id="new-pet">Aceptar
            <i class="material-icons right">send</i>
        </button>
        <div class="clear"></div>        
    </form>
</div>
{% endblock %}